<div>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-4 col-md-3 mr-0" href="#">FS BnB Admin Panel</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div style="margin-top:40px; height: calc(100vh - 40px);" class="container-fluid">
    <div style="margin-top:40px; height: calc(100vh - 40px);" class="row">

      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li *ngFor="let navItem of navItems">
              <button type="button" class="btn btn-link" (click)="navTo(navItem)">{{navItem.name}}</button>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-10">
        <h1 class="h2">Dashboard</h1>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <table class="table" *ngIf="onUsers">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.phone}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table" *ngIf="onListings">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Host ID</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listing of listings">
                <td>{{listing.name}}</td>
                <td>{{listing.hostID}}</td>
                <td>{{listing.location}}</td>
                <td>{{listing.price}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table" *ngIf="onBookingRequests">
            <thead>
              <tr>
                <th scope="col">Rental ID</th>
                <th scope="col">Guest ID</th>
                <th scope="col">Date From</th>
                <th scope="col">Date To</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookings">
                <td>{{booking.rentalID}}</td>
                <td>{{booking.userID}}</td>
                <td>{{booking.dateFrom}}</td>
                <td>{{booking.dateTo}}</td>
                <td>{{booking.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <router-outlet></router-outlet>
      </main>



    </div>
  </div>

</div>